SpiriCom.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fe61d006-0ebe-4250-a1b9-785504ab86f5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-5456, 1024],
      "id": "6ad7ab0a-3f09-4268-8fe5-3da7abfd70b7",
      "name": "Webhook",
      "webhookId": "c85d8622-58ea-49b7-8565-f1bd48a57f97"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b10586e-04fd-43c2-8ea5-06bf817dc7b3",
              "leftValue": "={{ $json.body.urgency }}",
              "rightValue": "très urgent",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "b275f28d-2596-4f27-b368-4c918b4484bd",
              "leftValue": "={{ $json.body.urgency }}",
              "rightValue": "urgent",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-5232, 1024],
      "id": "efa0b060-9022-4579-aa8f-fdd01a4192ce",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6461505079",
        "message": "=🚨 PLAINTE URGENTE — Action requise\n────────────────────────\n📋 Ref       : {{ $('Webhook').item.json.body.complaint_id }}\n📍 Zone      : {{ $('Webhook').item.json.body.city }}\n🏷 Catégorie : {{ $('Webhook').item.json.body.category }}\n📱 Client    : {{ $('Webhook').item.json.body.msisdn }}\n💬 {{ $('Webhook').item.json.body.text }}\n────────────────────────\nConfirmer votre action :",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Je prends en charge",
            "disapproveLabel": "🔺 Escalader NOC"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-5008, 1024],
      "id": "933aef1a-d5e6-4ab4-8bec-f1b3aafaffa5",
      "name": "Send message and wait for response",
      "webhookId": "b933a9b4-f559-4d6a-8356-33ad7c7cdaf6",
      "credentials": {
        "telegramApi": {
          "id": "Jj68GBphZm0ho2zi",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "approved-check",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-4784, 1024],
      "id": "67561c8e-8aac-411b-bd64-4ec1f5d9aacf",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://e4ca-196-234-5-10.ngrok-free.app/api/complaints/{{ $('Webhook').item.json.body.complaint_id }}/n8n-status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"in_progress\"}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4560, 928],
      "id": "95b367cc-2253-4489-b22b-2de4b1859cde",
      "name": "HTTP Request — in_progress"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://e4ca-196-234-5-10.ngrok-free.app/api/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to_user\": \"admin\", \"content\": \"ESCALADE TERRAIN — {{ $('Webhook').item.json.body.complaint_id }} zone {{ $('Webhook').item.json.body.city }} — ingénieur ne peut pas intervenir\", \"priority\": \"urgent\", \"msg_type\": \"direct\"}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4560, 1120],
      "id": "855ea1ef-3afb-4b0a-a6c3-70bc1f0b131c",
      "name": "HTTP Request — escalade NOC"
    },
    {
      "parameters": {
        "chatId": "6461505079",
        "text": "=✅ Enregistré\n────────────────────────\nRef    : {{ $('Webhook').item.json.body.complaint_id }}\nStatut : En cours de traitement\nClient : sera notifié automatiquement\n────────────────────────\nMerci pour votre intervention.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-4336, 1024],
      "id": "39bf22a0-1555-43d7-ac93-08866bf8ad1b",
      "name": "Telegram — Confirmation ingénieur",
      "credentials": {
        "telegramApi": {
          "id": "Jj68GBphZm0ho2zi",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [[{ "node": "Send message and wait for response", "type": "main", "index": 0 }]]
    },
    "Send message and wait for response": {
      "main": [[{ "node": "Switch1", "type": "main", "index": 0 }]]
    },
    "Switch1": {
      "main": [
        [{ "node": "HTTP Request — in_progress",  "type": "main", "index": 0 }],
        [{ "node": "HTTP Request — escalade NOC", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request — in_progress": {
      "main": [[{ "node": "Telegram — Confirmation ingénieur", "type": "main", "index": 0 }]]
    },
    "HTTP Request — escalade NOC": {
      "main": [[{ "node": "Telegram — Confirmation ingénieur", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a1303f435da1c49b1249fce0dfcda5032d8d6b975f3f3be4ab5f63c7bedd917"
  }
}